        .panel-resizable {
         resize: vertical;
          overflow: auto;
		  height:150px;
        }
		textarea { resize: vertical; }
		.modal-lg {width:85%;}
		.input-sm {height:25px; width:100%;margin-left:10px;}
		.control-label {font-weight:normal;line-height:15px;}
	
	/* Show Hide */
	

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 2px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color:#003399;
  background-color:rgba(66, 139, 202);
  -webkit-box-shadow: none;
  box-shadow: none;
  color:#FFFFFF;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.setting-menu a{
color:#000000; text-decoration:none; outline:0;

}

.setting-menu{
background-color:#E5E5E5;width:100%; height:2em; padding:5px;
width:100%;
min-width:180px;
}

.nav-tabs > li.active > .mtab ,
        .nav-tabs > li.active > .mtab ,
        .nav-tabs > li.active > .mtab {
          color: #fff;
          cursor: default;
          border: 1px solid #CCCCCC;
		  border-bottom: 0px;
          /*border-bottom-color: transparent;
		  border-top-color:#003399;
		  border-top-width:5px; */
		 /* background-color:rgba(66, 139, 202);*/
		  background-color:#428bca;
		  padding:10px 10px 10px 0;
		  margin-left:0px;
} 

.nav-tabs > li > .mtab {
 border: 1px solid #CCCCCC;
 border-bottom: 0px;
 background-color: #e4e4e4;
 color:#000000;
 padding:10px 10px 10px 0;
 margin-left:0px;
}

.nav-tabs > li > .mtab > a{
 color:#000; text-decoration:none; outline:0;
}

.nav-tabs > li.active > .mtab a {
 color:#fff; text-decoration:none; outline:0;
}


/* Drag and Drop */
.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0 auto;
    width: 80% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 25px;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(../assets/img/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.uploadfiles {
    position: absolute;
    bottom: 0px;
    left: 0;  pointer-events: none;
    width: 80%;
    right: 0;
    height: 57px;
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600px;
    text-transform: capitalize;
    text-align: center;
}

.result {
min-height:250px; 
}

a.close, button.close {
opacity: 0.7;
filter: alpha(opacity=70); 
}
a.close:hover, button.close:hover{
opacity: 1;
filter: alpha(opacity=100); 
}


/* Grids */

#grids {
  background-color: #ffffff;
  background-image: 
    linear-gradient(90deg, 
      rgba(73, 73, 73, 0.5) 0, 
      rgba(73, 73, 73, 0.5) 2%, 
      transparent 2%
    ), 
    linear-gradient(180deg, 
      #ffffff 50%, 
      transparent 50%
    ), 
    linear-gradient(90deg, 
      transparent 50%, 
      rgba(73, 73, 73, 0.5) 50%, 
      rgba(73, 73, 73, 0.5) 52%, 
      transparent 52%
    ), 
    linear-gradient(180deg, 
      #ffffff 70%, 
      transparent 70%
    ), 
    linear-gradient(90deg, 
      transparent 10%,
      rgba(73, 73, 73, 0.4) 10%, 
      rgba(73, 73, 73, 0.4) 12%, 
      transparent 12%, 
      
      transparent 20%,
      rgba(73, 73, 73, 0.4) 20%, 
      rgba(73, 73, 73, 0.4) 22%, 
      transparent 22%, 
      
      transparent 30%, 
      rgba(73, 73, 73, 0.4) 30%,
      rgba(73, 73, 73, 0.4) 32%, 
      transparent 32%, 
      
      transparent 40%, 
      rgba(73, 73, 73, 0.4) 40%, 
      rgba(73, 73, 73, 0.4) 42%, 
      transparent 42%, 
      
      transparent 60%, 
      rgba(73, 73, 73, 0.4) 60%, 
      rgba(73, 73, 73, 0.4) 62%, 
      transparent 62%, 
      
      transparent 70%, 
      rgba(73, 73, 73, 0.4) 70%, 
      rgba(73, 73, 73, 0.4) 72%, 
      transparent 72%, 
      
      transparent 80%, 
      rgba(73, 73, 73, 0.4) 80%, 
      rgba(73, 73, 73, 0.4) 82%, 
      transparent 82%, 
      
      transparent 90%, 
      rgba(73, 73, 73, 0.4) 90%, 
      rgba(73, 73, 73, 0.4) 92%, 
      transparent 92%
    );
 /* background-size: 50px 20px;
  background-repeat: repeat-x; */
  min-height: 20px;
  
  /* only needed for labels */
  white-space:nowrap;
  font-size:0;
  margin:0;
  padding:0;
}

#grids {
width:100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

mylabel {
  font-size:9px;
  padding:0;
  margin:0;
  padding-top:-5px;
  display:inline-block;
  /*width:100px; */
  }
